# Dependencies & Build
node_modules
dist
dist-ssr

# Environment variables
.env
.env.*
!.env.example
*.local

# System & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
